:root {
  font-size: 12px;
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
  --time: 0s;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: cadetblue;
}

.title-area {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.title-area h1 {
  font-size: 3rem;
}

.pomodoro-area {
  box-sizing: border-box;
  padding: 10px;
}

.input-area {
  margin: auto;
  width: 80%;
  height: 75px;
  position: relative;
  margin-bottom: 10px;
}

.time-input {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 5rem;
  color: black;
  border: none;
  position: relative;
  z-index: 1;
}

.loading-bar {
  content: "";
  background-color: red;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: var(--bar-width);
  height: 100%;
}

/* @keyframes load {
  from {
    width: var(--bar-width);
  }
  to {
    width: 100%;
  }
} */

.control-area {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn-default {
  background-color: transparent;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: 500;
  padding: 5px 10px;
  position: relative;
  opacity: 0.3;
}

.btn-default p {
  position: relative;
  z-index: 1;
}

.btn-decor {
  transition: all 1s;
  opacity: 1;
  cursor: pointer;
}

.btn-decor:hover {
  color: red;
}

.btn-default::before {
  content: "";
  background-color: gold;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 30%;
  height: 39px;
  transition: all 1s;
}

.btn-decor:hover::before {
  width: 100%;
  opacity: 0.7;
}
